<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->


<!-- Start All Title Box -->
<div th:replace="~{fragments::slider}">
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>Liên Hệ Cửa Hàng</h2>
                    <p>Củng cố và khẳng định vị thế thương hiệu hàng đầu về bánh ngọt cao cấp trên thị trường Sài Gòn. Mở rộng chuỗi nhà hàng và cải tiến quy trình sản xuất sản phẩm nhằm đem lại cho khách hàng những trải nghiệm tuyệt vời.</p>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i> Address: knowwhere, Nguyen Thai Hoc, Quan 1,
                                Sai Gon
                            </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Phone: +0909090909</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: dh51800556@gmail.com</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<div th:replace="~{fragments::feed}">
</div>
<!-- End Feed  -->

<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}"></footer>

<div th:replace="~{fragments::backToTop}"></div>

<div th:replace="~{fragments::script}"></div>
</body>

</html>